<form
  [formGroup]="note"
  (ngSubmit)="create()"
  class="surface-card border-round"
>
  <div>
    <label for="title" class="block text-900 font-medium mb-2">Title</label>
    <input
      name="title"
      formControlName="title"
      id="title"
      type="text"
      pInputText
      class="w-full mb-3"
    />

    <div
      *ngIf="title?.invalid && (title?.dirty || title?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="title?.errors?.['required']">Please enter a title</div>
    </div>

    <label for="description" class="block text-900 font-medium mb-2"
      >Description</label
    >
    <textarea
      #descr
      name="description"
      formControlName="description"
      id="description"
      type="text"
      pInputTextarea
      autoResize="autoResize"
    ></textarea>

    <div
      *ngIf="
        description?.invalid && (description?.dirty || description?.touched)
      "
      class="alert alert-danger"
    ></div>
    <div class="tags">
      <label class="block text-900 font-medium mb-2">Tags: </label>
      <span *ngFor="let tag of descr.value | cut: tags"
        >{{ tag
        }}<i
          (click)="deleteTag(tag)"
          class="pi pi-times"
          style="font-size: 0.7rem"
        ></i
      ></span>
    </div>
  </div>

  <button pButton pRipple type="submit" label="Submit"></button>
</form>
